<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Dashboard.Core.JsonRepository" version="3.1.0.3268" targetFramework="net45" />
  <package id="Syncfusion.Dashboard.Core" version="3.1.0.3258" targetFramework="net45" />
  <package id="Syncfusion.Dashboard.DataManager" version="3.1.0.117" targetFramework="net45" />
</packages>