<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="Syncfusion.Dashboard.Web.Serialization.DOM" version="3.1.0.3379" targetFramework="net45" />
  <package id="Syncfusion.Dashboard.Core" version="3.1.0.3258" targetFramework="net45" />
  <package id="Syncfusion.Dashboard.Web.Data.Handler" version="3.1.0.3586" targetFramework="net45" />
  <package id="Syncfusion.Dashboard.DataManager" version="3.1.0.117" targetFramework="net45" />
  <package id="Syncfusion.Dashboard.Service.Base" version="3.1.0.3134" targetFramework="net45" />
</packages>